@charset "utf-8";

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.bannerSlider {
  margin: 0 0 40px 0;
}