@charset "utf-8";

.bookSearch {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.bookSearch h1 {
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
}

.bookSearch .form {
  position: relative;
  width: 381px;
}

.bookSearch input {
  width: 100%;
  height: 48px;
  border: 1px solid #000;
  border-radius: 24px;
  padding: 14px 48px 14px 14px;
  box-sizing: border-box;
  outline: none;
}

.bookSearch button {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/src/assets/ico_search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
  width: 48px;
  height: 48px;
  outline: none;
}

.bookWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.bookList .item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

.bookList .item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #ddd;
}

.bookList .md {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8044ff;
  padding: 4px 6px;
  color: #fff;
  font-size: 12px;
}

.boxContent {
  margin: 0 0 0 32px;
  overflow: hidden;
}

.boxContent .title {
  display: block;
  font-size: 20px;
}

.boxContent .bookTitle {
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemAddButton {
  width: 100%;
  border: 1px solid #000;
  height: 48px;
}

.itemAddButton:hover {
  background-color: #000;
  color: #fff;
}
