@charset "utf-8";

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.title_wrap {
  padding: 20px 0;
  margin: 0 0 40px 0;
}

.title_wrap h2 {
  margin: 0 0 12px 0;
  font-size: 40px;
  font-weight: 700;
}

.title_wrap p {
  font-size: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
.content {
}
.content .list {
}
.content .list .item {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}
.contentList {
  display: flex;
}
.contentList figure {
}
.contentList figure img {
}
.contentList .saleItem {
  margin: 0 0 0 20px;
}
.contentList .saleItem span {
  display: block;
}
