@charset "utf-8";

.bookWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.bookList {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.bookList .item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px;
}

.bookList .item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #000;
}

.bookList .item:last-child::after {
  content: none;
}

.bookList .sold-out {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f33b2d;
  padding: 4px 6px;
  color: #fff;
  font-size: 12px;
}

.boxContent {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  margin: 0 0 0 32px;
  overflow: hidden;
}

.boxContent .title {
  display: block;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.boxContent .bookTitle {
  line-height: 23px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boxContent .sale {
  margin: 42px 0 0 0;
}

.boxContent .sale button {
  margin: 0 8px 0 0;
  padding: 10px 28px;
  line-height: 20px;
}

/* .boxContent .sale button:hover {
  background-color: #000;
  color: #fff;
} */

.boxContent .sale .item-sold-out {
  border: 1px solid #000;
  margin: 0 10px 0 0;
  padding: 10px;
}

.boxContent .sale .item-sold-out:hover {
  background-color: #000;
  color: #fff;
}

.desc-text {
  margin: 10px 0 0 0;
}
.desc-text p {
  padding: 0 0 0 40px;
  background-image: url("/src//assets/desc-check.jpg");
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 10px 2px;
}

.book-save {
  margin: 10px 0 0 0;
  text-align: center;
}
