@charset "utf-8";

.bookSearch {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.bookSearch h1 {
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
}

.bookSearch .form {
  position: relative;
  width: 381px;
}

.bookSearch input {
  width: 100%;
  height: 48px;
  border: 1px solid #000;
  border-radius: 24px;
  padding: 14px 48px 14px 14px;
  box-sizing: border-box;
  outline: none;
}

.bookSearch button {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("assets/ico_search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
  width: 48px;
  height: 48px;
  outline: none;
}

.itemAddButton {
  width: 100%;
  border: 1px solid #000;
  height: 48px;
}

.itemAddButton:hover {
  background-color: #000;
  color: #fff;
}
