@charset "utf-8";

.bookWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.bookList .item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

.bookList .item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #ddd;
}

.bookList .md {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8044ff;
  padding: 4px 6px;
  color: #fff;
  font-size: 12px;
}

.boxContent {
  margin: 0 0 0 32px;
  overflow: hidden;
}

.boxContent .title {
  display: block;
  font-size: 20px;
}

.boxContent .bookTitle {
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boxContent .sale {
  margin: 20px 0 0 0;
}

.boxContent .sale button {
  border: 1px solid #000;
  margin: 0 10px 0 0;
  padding: 10px;
}

.boxContent .sale button:hover {
  background-color: #000;
  color: #fff;
}
