@charset "utf-8";

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.title_wrap {
  padding: 20px 0;
  margin: 0 0 40px 0;
}

.title_wrap h2 {
  margin: 0 0 12px 0;
  font-size: 40px;
  font-weight: 700;
}

.title_wrap p {
  font-size: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

/* 테이블 CSS */
table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
}

.content .list .item {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.content .list .item .product-common {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content .list .item .product-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.content .list .item .product-title {
  margin: 0 0 0 20px;
}

.content .list .item .count-btn button {
  width: 24px;
  border: 1px solid #000;
  margin-right: -1px;
}

.content .list .item .count-btn button:hover {
  background-color: #000;
  color: #fff;
}
